<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.cointelebot.mapper.ClientMapper">

	<select id="get" resultType="com.cglee079.cointelebot.model.ClientVo">
		SELECT 
		CLNT_USERID as 'userId',
		CLNT_USERNAME as 'username',
		CLNT_STATE as 'state',
		CLNT_EXCHANGE as 'exchange',
		CLNT_TIMELOOP as 'timeLoop',
		CLNT_DAYLOOP as 'dayLoop',
		CLNT_TGUP_PRICE as 'targetUpPrice',
		CLNT_TGDOWN_PRICE as 'targetDownPrice',
		CLNT_PRICE as 'price',
		CLNT_COIN_COUNT  as 'coinCount',
		CLNT_ENABLED as 'enabled',
		CLNT_ERRCNT as 'errCnt',
		CLNT_OPEN_DATE as 'openDate',
		CLNT_REOPEN_DATE as 'reopenDate',
		CLNT_CLOSE_DATE as 'closeDate'
		FROM TB_EOSBOT_CLIENT
		WHERE CLNT_USERID = #{userId}
	</select>
	
	<select id="S01" resultType="com.cglee079.cointelebot.model.ClientVo" parameterType="map">
		/* 거래소, 시간주기, 일일주기 별 사용자 리스트 */
		SELECT 
		CLNT_USERID as 'userId',
		CLNT_USERNAME as 'username',
		CLNT_STATE as 'state',
		CLNT_EXCHANGE as 'exchange',
		CLNT_TIMELOOP as 'timeLoop',
		CLNT_DAYLOOP as 'dayLoop',
		CLNT_TGUP_PRICE as 'targetUpPrice',
		CLNT_TGDOWN_PRICE as 'targetDownPrice',
		CLNT_PRICE as 'price',
		CLNT_COIN_COUNT  as 'coinCount',
		CLNT_ENABLED as 'enabled',
		CLNT_ERRCNT as 'errCnt',
		CLNT_OPEN_DATE as 'openDate',
		CLNT_REOPEN_DATE as 'reopenDate',
		CLNT_CLOSE_DATE as 'closeDate'
		FROM TB_EOSBOT_CLIENT
		WHERE 1 = 1
		AND CLNT_ENABLED = 'Y'
		<if test="exchange != null">
		AND CLNT_EXCHANGE = #{exchange}
		</if>
		<if test="timeLoop != null">
		AND CLNT_TIMELOOP = #{timeLoop}
		</if>
		<if test="dayLoop != null">
		AND CLNT_DAYLOOP = #{dayLoop}
		</if>
	</select>
	
	<select id="S02" resultType="com.cglee079.cointelebot.model.ClientVo" parameterType="map">
		/* 목표가격 현재가 이상 설정, 사용자 리스트*/
		SELECT 
		CLNT_USERID as 'userId',
		CLNT_USERNAME as 'username',
		CLNT_STATE as 'state',
		CLNT_EXCHANGE as 'exchange',
		CLNT_TIMELOOP as 'timeLoop',
		CLNT_DAYLOOP as 'dayLoop',
		CLNT_TGUP_PRICE as 'targetUpPrice',
		CLNT_TGDOWN_PRICE as 'targetDownPrice',
		CLNT_PRICE as 'price',
		CLNT_COIN_COUNT  as 'coinCount',
		CLNT_ENABLED as 'enabled',
		CLNT_ERRCNT as 'errCnt',
		CLNT_OPEN_DATE as 'openDate',
		CLNT_REOPEN_DATE as 'reopenDate',
		CLNT_CLOSE_DATE as 'closeDate'
		FROM TB_EOSBOT_CLIENT
		WHERE 1 = 1
		AND CLNT_ENABLED = 'Y'
		AND CLNT_EXCHANGE = #{exchange}
		<![CDATA[ AND  #{coinValue} >= CLNT_TGUP_PRICE ]]>
	</select>
	
	
	<select id="S03" resultType="com.cglee079.cointelebot.model.ClientVo" parameterType="map">
		/* 목표가격 현재가 이하 설정, 사용자 리스트 */
		SELECT 
		CLNT_USERID as 'userId',
		CLNT_USERNAME as 'username',
		CLNT_STATE as 'state',
		CLNT_EXCHANGE as 'exchange',
		CLNT_TIMELOOP as 'timeLoop',
		CLNT_DAYLOOP as 'dayLoop',
		CLNT_TGUP_PRICE as 'targetUpPrice',
		CLNT_TGDOWN_PRICE as 'targetDownPrice',
		CLNT_PRICE as 'price',
		CLNT_COIN_COUNT  as 'coinCount',
		CLNT_ENABLED as 'enabled',
		CLNT_ERRCNT as 'errCnt',
		CLNT_OPEN_DATE as 'openDate',
		CLNT_REOPEN_DATE as 'reopenDate',
		CLNT_CLOSE_DATE as 'closeDate'
		FROM TB_EOSBOT_CLIENT
		WHERE 1 = 1
		AND CLNT_ENABLED = 'Y'
		AND CLNT_EXCHANGE = #{exchange}
		<![CDATA[ AND  #{coinValue} <= CLNT_TGDOWN_PRICE ]]>
	</select>
	
	
	<insert id="insert">
		INSERT INTO TB_EOSBOT_CLIENT(CLNT_USERID, CLNT_USERNAME, CLNT_STATE, CLNT_EXCHANGE, CLNT_TIMELOOP, CLNT_DAYLOOP, CLNT_TGUP_PRICE, CLNT_TGDOWN_PRICE, CLNT_PRICE, CLNT_COIN_COUNT, CLNT_ENABLED, CLNT_ERRCNT, CLNT_OPEN_DATE, CLNT_REOPEN_DATE, CLNT_CLOSE_DATE)
		VALUES (#{userId}, #{username}, #{state}, #{exchange}, #{timeLoop}, #{dayLoop}, #{targetUpPrice}, #{targetDownPrice}, #{price}, #{coinCount}, #{enabled}, #{errCnt}, #{openDate}, #{reopenDate}, #{closeDate})
	</insert>
	
	<delete id="delete" parameterType="map">
		DELETE FROM TB_EOSBOT_CLIENT
		WHERE CLNT_USERID = #{userId}
	</delete>
	
	<update id="update">
		UPDATE TB_EOSBOT_CLIENT
		SET 
		CLNT_USERNAME = #{username},
		CLNT_STATE = #{state},
		CLNT_EXCHANGE = #{exchange},
		CLNT_TIMELOOP = #{timeLoop},
		CLNT_DAYLOOP = #{dayLoop},
		<choose>
			<when test="targetUpPrice == 0">
			CLNT_TGUP_PRICE = null,
			</when>
			<otherwise>
			CLNT_TGUP_PRICE = #{targetUpPrice},
			</otherwise>
		</choose>
		
		<choose>
			<when test="targetDownPrice == 0">
			CLNT_TGDOWN_PRICE = null,
			</when>
			<otherwise>
			CLNT_TGDOWN_PRICE = #{targetDownPrice},
			</otherwise>
		</choose>
		
		<choose>
			<when test="price == 0">
			CLNT_PRICE = null,
			</when>
			<otherwise>
			CLNT_PRICE = #{price},
			</otherwise>
		</choose>
		<choose>
			<when test="coinCount == 0">
			CLNT_COIN_COUNT = null,
			</when>
			<otherwise>
			CLNT_COIN_COUNT = #{coinCount},
			</otherwise>
		</choose>
		CLNT_ENABLED = #{enabled},
		CLNT_ERRCNT = #{errCnt},
		CLNT_OPEN_DATE = #{openDate},
		CLNT_REOPEN_DATE = #{reopenDate},
		CLNT_CLOSE_DATE = #{closeDate}
		WHERE CLNT_USERID = #{userId}
	</update>
	
</mapper>
