<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.cointelebot.mapper.CoinWalletMapper">

	<select id="list" resultType="com.cglee079.cointelebot.model.CoinWalletVo">
			SELECT 
			WALLET_COINID as 'coinId',
			CINFO_SYMBOL as 'symbol',
			CINFO_US_NAME as 'usName',
			CINFO_KR_NAME as 'krName',
			WALLET_ADDR1 as 'addr1',
			WALLET_ADDR2 as 'addr2',
			WALLET_ENABLED as 'enabled'
			FROM VW_COINBOT_MYWALLET
			WHERE 1 = 1
			AND WALLET_ENABLED = 'Y'
	</select>
	
	<select id="get" resultType="com.cglee079.cointelebot.model.CoinWalletVo">
			SELECT 
			WALLET_COINID as 'coinId',
			CINFO_SYMBOL as 'symbol',
			CINFO_US_NAME as 'usName',
			CINFO_KR_NAME as 'krName',
			WALLET_ADDR1 as 'addr1',
			WALLET_ADDR2 as 'addr2',
			WALLET_ENABLED as 'enabled'
			FROM VW_COINBOT_MYWALLET
			WHERE 1 = 1
			AND WALLET_ENABLED = 'Y'
			AND WALLET_COINID = #{myCoin}
	</select>
	
</mapper>