<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.cointelebot.mapper.CoinInfoMapper">

	<select id="list" resultType="com.cglee079.cointelebot.model.CoinInfoVo">
			SELECT 
			CINFO_COINID as 'coinId',
			CINFO_US_NAME as 'usName',
			CINFO_KR_NAME as 'krName',
			CINFO_CHAT_ADDR as 'chatAddr',
			CINFO_ENABLED as 'enabled'
			FROM TB_COINBOT_INFO
			WHERE 1 = 1
			AND CINFO_ENABLED = 'Y'
			<![CDATA[AND CINFO_COINID <> #{coinId}]]>
	</select>
	
</mapper>