<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.cointelebot.mapper.DailyInfoMapper">

	<select id="get" resultType="com.cglee079.cointelebot.model.DailyInfoVo">
		SELECT 
		DINFO_DATE as 'date',
		DINFO_HIGH as 'high',
		DINFO_LOW as 'low',
		DINFO_LAST as 'last',
		DINFO_VOLUME as 'volume',
		DINFO_RESULT as 'result',
		DINFO_ERRCODE as 'errorCode',
		DINFO_ERRMSG as 'errorMsg'
		FROM TB_TESTBOT_DAILYINFO
		WHERE 1 = 1
		AND DINFO_DATE = #{date}
		<if test="exchange != null">
		AND DINFO_EXCHANGE = #{exchange}
		</if>
	</select>
	
	<select id="list" resultType="com.cglee079.cointelebot.model.DailyInfoVo">
	</select>
	
	<insert id="insert">
		INSERT INTO TB_TESTBOT_DAILYINFO(DINFO_DATE, DINFO_EXCHANGE, DINFO_HIGH, DINFO_LOW, DINFO_LAST, DINFO_VOLUME, DINFO_RESULT, DINFO_ERRCODE, DINFO_ERRMSG)
		VALUES (#{date}, #{exchange}, #{high}, #{low}, #{last}, #{volume}, #{result}, #{errorCode}, #{errorMsg})
	</insert>
	
	<delete id="delete" parameterType="map">
	</delete>
	
	<update id="update">
	</update>	
</mapper>