<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.cointelebot.mapper.TimelyInfoMapper">

	<select id="get" resultType="com.cglee079.cointelebot.model.TimelyInfoVo">
		SELECT 
		TINFO_DATE as 'date',
		TINFO_HIGH as 'high',
		TINFO_LOW as 'low',
		TINFO_LAST as 'last',
		TINFO_VOLUME as 'volume',
		TINFO_RESULT as 'result',
		TINFO_ERRCODE as 'errorCode',
		TINFO_ERRMSG as 'errorMsg'
		FROM TB_TRXBOT_TIMELYINFO
		WHERE 1 = 1
		AND TINFO_DATE = #{date}
		<if test="exchange != null">
		AND TINFO_EXCHANGE = #{exchange}
		</if>
	</select>
	
	<select id="list" resultType="com.cglee079.cointelebot.model.TimelyInfoVo">
		SELECT 
		TINFO_DATE as 'date',
		TINFO_HIGH as 'high',
		TINFO_LOW as 'low',
		TINFO_LAST as 'last',
		TINFO_VOLUME as 'volume',
		TINFO_RESULT as 'result',
		TINFO_ERRCODE as 'errorCode',
		TINFO_ERRMSG as 'errorMsg'
		FROM TB_TRXBOT_TIMELYINFO
		WHERE 1 = 1
		<if test="exchange != null">
		AND TINFO_EXCHANGE = #{exchange}
		</if>
		ORDER BY TINFO_DATE DESC
		LIMIT 0, #{cnt}
	</select>
	
	<insert id="insert">
		INSERT INTO TB_TRXBOT_TIMELYINFO
		VALUES (#{date}, #{exchange}, #{high}, #{low}, #{last}, #{volume}, #{result}, #{errorCode}, #{errorMsg})
	</insert>
	
	<delete id="delete" parameterType="map">
	</delete>
	
	<update id="update">
	</update>	
</mapper>