<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.cglee079.coinchatbot.model.ClientVo" alias="ClientVo"/>
		<typeAlias type="com.cglee079.coinchatbot.model.TimelyInfoVo" alias="TimelyInfoVo"/>
		<typeAlias type="com.cglee079.coinchatbot.model.CoinConfigVo" alias="CoinConfigVo"/>
		<typeAlias type="com.cglee079.coinchatbot.model.CoinInfoVo" alias="CoinInfoVo"/>
		<typeAlias type="com.cglee079.coinchatbot.model.CoinMarketConfigVo" alias="CoinMarketConfigVo"/>
		<typeAlias type="com.cglee079.coinchatbot.model.CoinWalletVo" alias="CoinWalletVo"/>
	</typeAliases>
</configuration>