<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.coinchatbot.mapper.ClientMsgMapper">

	<insert id="insert">
		INSERT INTO TB_COINBOT_CLIENT_MSG (
			COIN_ID,
			CLNT_USERID, 
			CLNT_USERNAME, 
			MSG_CONTENTS, 
			MSG_DATE
		)
 		VALUES ( 
 			#{coinId},
 			#{userId},
 			#{username},
 			#{contents},
 			#{date}
 		)
	</insert>
</mapper>