<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.cointelebot.mapper.CoinConfigMapper">

	<select id="get" resultType="com.cglee079.cointelebot.model.CoinConfigVo">
			SELECT 
			CONFIG_COINID as 'coinId',
			CONFIG_EX_PRICE_KR as 'priceKREx',
			CONFIG_EX_PRICE_US as 'priceUSEx',
			CONFIG_EX_TARGET_KR as 'targetKREx',
			CONFIG_EX_TARGET_US as 'targetUSEx',
			CONFIG_EX_TARGET_RATE as 'targetRateEx',
			CONFIG_EX_NUMBER as 'numberEx',
			CONFIG_DIGIT_KRW as 'digitKRW',
			CONFIG_DIGIT_USD as 'digitUSD',
			CONFIG_DIGIT_BTC as 'digitBTC',
			CONFIG_VERSION as 'version'
			FROM TB_COINBOT_COIN_CONFIG
			WHERE 1 = 1
			AND CONFIG_COINID = #{coinId}
	</select>
	
</mapper>