<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.cointelebot.mapper.CommonMapper">

	<select id="get" resultType="String">
			SELECT 
			COMM_CONTENT as 'content'
			FROM TB_COINBOT_COMMON
			WHERE 1 = 1
			AND COMM_ID = #{id}
	</select>
	
</mapper>