<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.coinchatbot.mapper.TimelyInfoMapper">
	<resultMap type="TimelyInfoVo" id="timelyInfoResultMap">
		<id property="coinId" column="COIN_ID" />
		<id property="marketId" column="MARKET_CD" />
		<id property="date" column="DT_HOUR"/>
		<result  property="high" column="PRICE_HIGH"/>
		<result  property="low" column="PRICE_LOW"/>
		<result  property="last" column="PRICE_LAST"/>
		<result  property="volume" column="TIME_VOLUME"/>
		<result  property="result" column="RES_RESULT"/>
		<result  property="errorCode" column="RES_ERRCODE"/>
		<result  property="errorMsg" column="RES_ERRMSG"/>
	</resultMap>
	
	<select id="get" resultMap="timelyInfoResultMap">
		SELECT 
			*
		FROM TB_COINBOT_TIMELYINFO
		WHERE 1 = 1
		AND COIN_ID = #{coinId}
		AND DT_HOUR = #{date}
		<if test="marketId != null">
		AND MARKET_CD = #{marketId}
		</if>
	</select>
	
	<select id="list" resultMap="timelyInfoResultMap">
		SELECT 
			*
		FROM TB_COINBOT_TIMELYINFO
		WHERE 1 = 1
		AND COIN_ID = #{coinId}
		<if test="marketId != null">
		AND MARKET_CD = #{marketId}
		</if>
		ORDER BY DT_HOUR DESC
		LIMIT 0, #{cnt}
	</select>
	
	<insert id="insert">
		INSERT INTO TB_COINBOT_TIMELYINFO(
			COIN_ID,
			MARKET_CD,
			DT_HOUR,
			PRICE_HIGH,
			PRICE_LOW,
			PRICE_LAST,
			TIME_VOLUME,
			RES_RESULT,
			RES_ERRCODE,
			RES_ERRMSG
		)
		VALUES ( 
			#{coinId}, 
			#{marketId},
			#{date},
			#{high}, 
			#{low}, 
			#{last}, 
			#{volume},
			#{result}, 
			#{errorCode}, 
			#{errorMsg}
		)
	</insert>
</mapper>